body {
  background: linear-gradient(to right, #642b73, #c6426e);
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  width: 570px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: black;
  background:linear-gradient(to right, #d9a7c7, #fffcdc);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  font-size: 24px;
  cursor: pointer;
}

.heart-icon {
  margin-right: 5px;
  color: black;
}

.delete-icon {
  margin-right: 5px;
  color: black;
}

.edit-icon {
  color: black;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #642b73;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(to right, #642b73, #c6426e);
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #c6426e;
}

.todo-button.edit {
  background: linear-gradient(to right, #642b73, #c6426e);
  padding: 16px 22px;
}



